In [10]:
import os
from dotenv import load_dotenv

import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

from snowflake.connector import connect

In [11]:
load_dotenv()

True

In [12]:
username = os.environ.get('SNOWFLAKE_USERNAME')
password = os.environ.get('SNOWFLAKE_PASSWORD')
account = os.environ.get('SNOWFLAKE_ACCOUNT')

In [13]:
con = connect(
    user=username,
    password=password,
    account=account
)

In [14]:
con

In [15]:
cursor = con.cursor()

In [16]:
def run_sql(cursor, query, single_row=False, print_results=False):
    exe = cursor.execute(query)
    print(f"Execution: {exe}")
    if single_row is True:
        result = cursor.fetchone()
        if print_results is True: print(f"Result: {result}")
        return result
    results = cursor.fetchall()
    if print_results is True: print(f"Results: {results}")
    return results

In [17]:
run_sql(cursor, "USE WAREHOUSE COMPUTE_WH")

Execution: <snowflake.connector.cursor.SnowflakeCursor object at 0x7f9dfbff78b0>

[('Statement executed successfully.',)]

In [18]:
run_sql(cursor,'USE DATABASE AIRBNB_CALENDAR_LISTINGS_SAMPLE')

Execution: <snowflake.connector.cursor.SnowflakeCursor object at 0x7f9dfbff78b0>

[('Statement executed successfully.',)]

In [19]:
practice_query = """
                SELECT DISTINCT 
                    c."listing_id", c."price", p."reviews_count", p."city", 
                    p."room_type_category", p."space_type", p."bedrooms", p."bathrooms"
                FROM "AIRBNB_CALENDAR_SAMPLE" c
                JOIN "AIRBNB_LISTINGS_SAMPLE" p ON p."listing_id" = c."listing_id" AND p."crawled_at_ds" = c."ds"
                WHERE 
                    c."price" IS NOT NULL
                        AND
                    c."currency" = 'USD'
                ORDER BY c."price" DESC
                --LIMIT 1000000
                """

In [20]:
data = run_sql(cursor, practice_query)

Execution: <snowflake.connector.cursor.SnowflakeCursor object at 0x7f9dfbff78b0>

In [21]:
len(data)

2589842

In [22]:
column_names = ['listing_id', 'price', 'review_counts',\
                'city', 'room_type_category', 'space_type', 'bedrooms', 'bathrooms']

In [23]:
df_airbnb = pd.DataFrame(data, columns=column_names)

In [24]:
df_airbnb.head()

,listing_id,price,review_counts,city,room_type_category,space_type,bedrooms,bathrooms
0,33196476,1983148,81,,entire_home,Entire rental unit,4.0,4.0
1,33196476,1272563,81,,entire_home,Entire rental unit,4.0,4.0
2,40900114,60287,0,San Andrés,private_room,Hotel room,2.0,3.0
3,40900114,60053,0,San Andrés,private_room,Hotel room,2.0,3.0
4,40900114,59829,0,San Andrés,private_room,Hotel room,2.0,3.0

In [25]:
col1, col2 = "price", "review_counts"
corr = df_airbnb[col1].corr(df_airbnb[col2])
print(corr)

-0.016635976062880566

In [26]:
col1, col2 = "price", "bedrooms"
corr = df_airbnb[col1].corr(df_airbnb[col2])
print(corr)

0.06512141814911342

In [27]:
col1, col2 = "price", "bathrooms"
corr = df_airbnb[col1].corr(df_airbnb[col2])
print(corr)

0.05741000671447218

In [28]:
WEATHER_QUERIES = {
    'USE_DB': '''
            USE WEATHERSOURCE_TILE_SAMPLE_SNOWFLAKE_SECURE_SHARE_1641488329256;
            ''',
    'GET_POSTAL_CODES': '''    
                        SELECT DISTINCT
                            POSTAL_CODE
                        FROM 
                            standard_tile.forecast_day
                        WHERE
                            COUNTRY = 'US';
                        '''
}

In [29]:
run_sql(cursor, WEATHER_QUERIES['USE_DB'])

Execution: <snowflake.connector.cursor.SnowflakeCursor object at 0x7f9dfbff78b0>

[('Statement executed successfully.',)]

In [30]:
postal_codes = run_sql(cursor, WEATHER_QUERIES['GET_POSTAL_CODES'])

Execution: <snowflake.connector.cursor.SnowflakeCursor object at 0x7f9dfbff78b0>

In [31]:
postal_codes

[('98547',),
 ('98557',),
 ('23086',),
 ('26425',),
 ('82215',),
 ('48130',),
 ('48350',),
 ('03858',),
 ('83246',),
 ('32521',),
 ('62475',),
 ('20045',),
 ('49101',),
 ('06751',),
 ('39426',),
 ('75605',),
 ('35087',),
 ('29639',),
 ('37203',),
 ('93381',),
 ('60141',),
 ('78938',),
 ('60445',),
 ('51248',),
 ('27958',),
 ('24512',),
 ('24572',),
 ('93741',),
 ('75476',),
 ('29734',),
 ('73459',),
 ('95136',),
 ('20427',),
 ('46202',),
 ('55397',),
 ('54555',),
 ('12986',),
 ('77461',),
 ('31042',),
 ('11717',),
 ('57051',),
 ('39571',),
 ('77865',),
 ('78056',),
 ('31097',),
 ('73620',),
 ('66094',),
 ('47542',),
 ('22637',),
 ('77055',),
 ('45873',),
 ('92628',),
 ('11730',),
 ('22313',),
 ('61541',),
 ('18248',),
 ('65066',),
 ('67651',),
 ('75790',),
 ('98548',),
 ('75245',),
 ('93777',),
 ('76369',),
 ('65809',),
 ('80217',),
 ('97540',),
 ('70554',),
 ('31601',),
 ('02461',),
 ('55012',),
 ('29122',),
 ('33401',),
 ('13746',),
 ('77004',),
 ('79698',),
 ('75027',),
 ('39235',),
 ('92661',),
 ('54868',),
 ('50206',),
 ('29452',),
 ('68370',),
 ('72630',),
 ('67260',),
 ('62541',),
 ('23465',),
 ('41240',),
 ('66942',),
 ('38632',),
 ('91182',),
 ('63942',),
 ('62894',),
 ('06451',),
 ('76836',),
 ('39056',),
 ('93475',),
 ('80459',),
 ('21742',),
 ('48440',),
 ('83612',),
 ('87062',),
 ('95501',),
 ('64101',),
 ('26838',),
 ('12511',),
 ('92583',),
 ('53927',),
 ('77802',),
 ('32635',),
 ('38773',),
 ('36587',),
 ('19340',),
 ('74872',),
 ('90310',),
 ('19030',),
 ('35751',),
 ('30170',),
 ('98126',),
 ('68319',),
 ('64635',),
 ('45789',),
 ('17322',),
 ('26501',),
 ('43803',),
 ('68122',),
 ('60403',),
 ('98139',),
 ('70571',),
 ('31542',),
 ('71410',),
 ('85620',),
 ('17008',),
 ('50115',),
 ('62351',),
 ('16693',),
 ('84657',),
 ('93908',),
 ('06413',),
 ('30470',),
 ('35178',),
 ('64855',),
 ('07626',),
 ('80036',),
 ('61641',),
 ('50212',),
 ('48240',),
 ('94977',),
 ('29221',),
 ('10257',),
 ('02494',),
 ('04431',),
 ('32718',),
 ('50160',),
 ('07307',),
 ('79233',),
 ('92585',),
 ('71112',),
 ('27801',),
 ('62058',),
 ('62915',),
 ('84523',),
 ('63747',),
 ('20197',),
 ('49781',),
 ('95841',),
 ('45944',),
 ('43209',),
 ('80540',),
 ('60958',),
 ('08014',),
 ('43506',),
 ('25235',),
 ('62640',),
 ('39740',),
 ('17737',),
 ('27978',),
 ('14082',),
 ('21279',),
 ('89451',),
 ('72085',),
 ('81021',),
 ('67483',),
 ('72838',),
 ('94085',),
 ('80443',),
 ('56252',),
 ('55357',),
 ('57562',),
 ('75778',),
 ('77042',),
 ('39044',),
 ('79977',),
 ('39305',),
 ('62094',),
 ('85194',),
 ('28111',),
 ('34221',),
 ('32523',),
 ('20187',),
 ('81132',),
 ('22969',),
 ('04259',),
 ('89028',),
 ('30338',),
 ('60973',),
 ('66427',),
 ('90637',),
 ('72130',),
 ('10060',),
 ('84079',),
 ('55118',),
 ('18330',),
 ('36919',),
 ('48048',),
 ('95917',),
 ('68922',),
 ('34474',),
 ('91129',),
 ('85002',),
 ('30680',),
 ('64454',),
 ('63454',),
 ('51549',),
 ('37870',),
 ('93278',),
 ('13744',),
 ('28392',),
 ('34713',),
 ('29906',),
 ('77296',),
 ('43754',),
 ('22081',),
 ('46017',),
 ('14731',),
 ('83415',),
 ('93717',),
 ('61529',),
 ('45013',),
 ('21114',),
 ('21251',),
 ('95683',),
 ('15267',),
 ('17858',),
 ('89820',),
 ('60075',),
 ('48357',),
 ('49343',),
 ('01731',),
 ('97308',),
 ('19375',),
 ('15632',),
 ('06825',),
 ('67656',),
 ('88557',),
 ('39730',),
 ('90720',),
 ('27806',),
 ('27690',),
 ('19143',),
 ('20612',),
 ('95486',),
 ('61743',),
 ('68746',),
 ('14864',),
 ('06251',),
 ('45218',),
 ('94803',),
 ('38850',),
 ('49544',),
 ('13089',),
 ('98848',),
 ('40419',),
 ('55470',),
 ('92539',),
 ('38572',),
 ('28634',),
 ('60095',),
 ('29905',),
 ('72124',),
 ('04974',),
 ('72843',),
 ('89125',),
 ('66419',),
 ('69170',),
 ('93844',),
 ('49601',),
 ('93747',),
 ('71701',),
 ('73756',),
 ('44837',),
 ('17063',),
 ('62092',),
 ('82225',),
 ('72655',),
 ('28138',),
 ('79762',),
 ('75487',),
 ('37047',),
 ('23705',),
 ('40310',),
 ('33662',),
 ('83676',),
 ('32697',),
 ('40152',),
 ('85039',),
 ('79104',),
 ('92222',),
 ('81007',),
 ('11815',),
 ('66035',),
 ('94506',),
 ('24088',),
 ('62969',),
 ('67065',),
 ('63737',),
 ('70804',),
 ('55981',),
 ('97736',),
 ('35235',),
 ('83852',),
 ('36553',),
 ('58065',),
 ('28204',),
 ('55319',),
 ('33592',),
 ('76523',),
 ('61079',),
 ('15361',),
 ('06280',),
 ('34690',),
 ('03305',),
 ('13731',),
 ('85120',),
 ('77282',),
 ('81427',),
 ('31501',),
 ('06537',),
 ('64165',),
 ('31083',),
 ('23870',),
 ('29839',),
 ('57541',),
 ('70446',),
 ('80138',),
 ('94536',),
 ('97253',),
 ('53142',),
 ('54020',),
 ('59085',),
 ('54949',),
 ('59215',),
 ('92286',),
 ('90094',),
 ('74556',),
 ('78368',),
 ('38621',),
 ('63074',),
 ('62027',),
 ('99125',),
 ('25425',),
 ('16115',),
 ('84087',),
 ('07047',),
 ('48113',),
 ('51046',),
 ('55582',),
 ('68042',),
 ('04243',),
 ('49833',),
 ('77225',),
 ('39562',),
 ('99147',),
 ('42502',),
 ('84121',),
 ('62093',),
 ('80403',),
 ('52219',),
 ('44112',),
 ('14769',),
 ('33803',),
 ('32922',),
 ('78265',),
 ('76185',),
 ('44501',),
 ('21663',),
 ('43110',),
 ('46303',),
 ('48117',),
 ('49530',),
 ('64158',),
 ('56441',),
 ('97333',),
 ('65486',),
 ('80941',),
 ('60926',),
 ('37335',),
 ('98138',),
 ('24991',),
 ('28241',),
 ('55559',),
 ('59463',),
 ('24888',),
 ('52349',),
 ('59720',),
 ('90603',),
 ('25811',),
 ('17032',),
 ('37127',),
 ('55366',),
 ('76958',),
 ('19191',),
 ('07512',),
 ('67861',),
 ('21144',),
 ('49121',),
 ('17739',),
 ('06246',),
 ('39901',),
 ('10308',),
 ('25268',),
 ('68882',),
 ('26292',),
 ('52657',),
 ('20770',),
 ('48225',),
 ('02568',),
 ('43009',),
 ('08562',),
 ('91980',),
 ('40517',),
 ('40946',),
 ('20685',),
 ('43113',),
 ('45870',),
 ('01376',),
 ('03862',),
 ('57227',),
 ('56327',),
 ('65462',),
 ('57752',),
 ('82711',),
 ('43931',),
 ('18508',),
 ('12495',),
 ('15721',),
 ('77475',),
 ('17219',),
 ('72201',),
 ('20164',),
 ('61630',),
 ('85214',),
 ('79033',),
 ('64741',),
 ('67417',),
 ('55413',),
 ('46283',),
 ('98814',),
 ('14885',),
 ('48619',),
 ('06912',),
 ('97294',),
 ('79373',),
 ('70767',),
 ('55976',),
 ('77614',),
 ('06509',),
 ('53181',),
 ('73131',),
 ('67475',),
 ('32128',),
 ('94023',),
 ('49094',),
 ('93614',),
 ('18068',),
 ('95060',),
 ('64429',),
 ('72670',),
 ('74008',),
 ('67213',),
 ('23519',),
 ('55172',),
 ('91931',),
 ('21250',),
 ('38626',),
 ('03741',),
 ('78156',),
 ('98034',),
 ('98368',),
 ('24580',),
 ('24219',),
 ('93940',),
 ('24471',),
 ('26293',),
 ('17583',),
 ('98563',),
 ('40361',),
 ('44084',),
 ('48454',),
 ('48450',),
 ('54701',),
 ('12484',),
 ('12241',),
 ('01821',),
 ('98909',),
 ('94975',),
 ('67487',),
 ('46899',),
 ('04013',),
 ('28443',),
 ('50040',),
 ('36003',),
 ('21286',),
 ('12449',),
 ('16033',),
 ('48401',),
 ('97321',),
 ('42361',),
 ('88054',),
 ('71858',),
 ('35958',),
 ('72952',),
 ('23920',),
 ('40580',),
 ('73560',),
 ('65351',),
 ('45767',),
 ('15907',),
 ('14030',),
 ('13618',),
 ('32117',),
 ('18766',),
 ('74047',),
 ('10919',),
 ('25504',),
 ('35632',),
 ('23897',),
 ('37501',),
 ('22810',),
 ('78070',),
 ('92816',),
 ('62874',),
 ('20877',),
 ('94999',),
 ('45851',),
 ('33499',),
 ('35805',),
 ('28521',),
 ('75615',),
 ('02829',),
 ('15541',),
 ('26035',),
 ('73446',),
 ('41740',),
 ('88301',),
 ('31197',),
 ('72454',),
 ('93449',),
 ('67485',),
 ('04947',),
 ('97458',),
 ('78767',),
 ('48125',),
 ('95560',),
 ('54106',),
 ('30638',),
 ('35769',),
 ('87193',),
 ('31087',),
 ('99118',),
 ('38610',),
 ('36764',),
 ('40223',),
 ('37208',),
 ('37209',),
 ('06147',),
 ('13211',),
 ('27025',),
 ('95446',),
 ('24855',),
 ('66063',),
 ('74860',),
 ('78946',),
 ('39250',),
 ('86315',),
 ('41635',),
 ('49345',),
 ('78472',),
 ('96117',),
 ('55126',),
 ('60633',),
 ('24850',),
 ('19021',),
 ('91901',),
 ('26237',),
 ('55001',),
 ('49126',),
 ('36751',),
 ('49683',),
 ('97115',),
 ('84721',),
 ('25692',),
 ('27103',),
 ('27921',),
 ('98360',),
 ('23146',),
 ('95689',),
 ('17569',),
 ('95973',),
 ('95913',),
 ('51040',),
 ('06514',),
 ('82411',),
 ('49747',),
 ('84122',),
 ('05401',),
 ('39826',),
 ('50261',),
 ('44114',),
 ('50064',),
 ('48159',),
 ('14518',),
 ('70611',),
 ('76503',),
 ('32452',),
 ('72717',),
 ('65259',),
 ('45624',),
 ('38251',),
 ('40031',),
 ('96020',),
 ('68716',),
 ('67701',),
 ('28164',),
 ('74156',),
 ('42731',),
 ('88220',),
 ('20630',),
 ('20039',),
 ('15727',),
 ('53956',),
 ('97311',),
 ('48631',),
 ('59072',),
 ('55008',),
 ('93436',),
 ('23821',),
 ('54485',),
 ('35118',),
 ('85213',),
 ('28110',),
 ('27293',),
 ('17952',),
 ('92342',),
 ('34103',),
 ('80918',),
 ('32137',),
 ('33163',),
 ('62563',),
 ('43451',),
 ('13640',),
 ('47863',),
 ('10128',),
 ('48189',),
 ('75402',),
 ('50005',),
 ('17356',),
 ('36116',),
 ('76466',),
 ('30353',),
 ('72733',),
 ('81153',),
 ('12043',),
 ('55442',),
 ('87313',),
 ('24631',),
 ('93291',),
 ('01840',),
 ('16055',),
 ('97078',),
 ('13093',),
 ('06320',),
 ('17841',),
 ('87364',),
 ('54226',),
 ('85242',),
 ('30375',),
 ('72183',),
 ('04572',),
 ('07754',),
 ('95943',),
 ('31753',),
 ('65706',),
 ('93612',),
 ('36125',),
 ('27530',),
 ('19904',),
 ('41804',),
 ('45650',),
 ('73160',),
 ('02047',),
 ('24063',),
 ('41477',),
 ('47223',),
 ('77968',),
 ('34602',),
 ('75929',),
 ('72932',),
 ('13659',),
 ('98490',),
 ('70129',),
 ('80908',),
 ('47406',),
 ('82071',),
 ('57456',),
 ('24171',),
 ('33782',),
 ('06118',),
 ('70175',),
 ('29941',),
 ('87506',),
 ('11695',),
 ('56170',),
 ('27536',),
 ('07506',),
 ('92702',),
 ('88312',),
 ('26705',),
 ('10456',),
 ('54454',),
 ('81251',),
 ('17886',),
 ('48755',),
 ('96145',),
 ('84107',),
 ('41226',),
 ('72533',),
 ('38146',),
 ('29160',),
 ('66770',),
 ('98037',),
 ('93715',),
 ('47131',),
 ('22472',),
 ('62781',),
 ('68785',),
 ('14450',),
 ('04472',),
 ('99371',),
 ('98333',),
 ('47963',),
 ('95338',),
 ('15563',),
 ('49508',),
 ('12187',),
 ('12929',),
 ('57621',),
 ('04640',),
 ('32333',),
 ('30601',),
 ('38066',),
 ('16319',),
 ('16111',),
 ('22901',),
 ('94164',),
 ('60297',),
 ('48892',),
 ('68516',),
 ('83462',),
 ('24184',),
 ('25510',),
 ('26722',),
 ('92502',),
 ('38351',),
 ('22122',),
 ('21539',),
 ('26588',),
 ('83227',),
 ('53708',),
 ('33192',),
 ('14241',),
 ('77720',),
 ('79381',),
 ('87543',),
 ('74821',),
 ('14264',),
 ('57437',),
 ('35117',),
 ('32899',),
 ('19372',),
 ('02454',),
 ('40283',),
 ('95650',),
 ('60001',),
 ('04967',),
 ('25967',),
 ('49950',),
 ('71460',),
 ('92358',),
 ('61755',),
 ('07878',),
 ('50519',),
 ('17938',),
 ('53789',),
 ('67583',),
 ('17270',),
 ('51648',),
 ('30068',),
 ('27049',),
 ('57242',),
 ('95564',),
 ('98685',),
 ('32164',),
 ('01582',),
 ('56342',),
 ('55483',),
 ('79976',),
 ('91413',),
 ('37860',),
 ('18657',),
 ('54527',),
 ('90209',),
 ('39212',),
 ('36132',),
 ('56308',),
 ('53704',),
 ('77081',),
 ('64085',),
 ('21285',),
 ('75849',),
 ('44836',),
 ('65566',),
 ('28692',),
 ('61831',),
 ('76557',),
 ('78052',),
 ('23021',),
 ('19105',),
 ('59546',),
 ('75114',),
 ('30817',),
 ('24016',),
 ('36604',),
 ('30461',),
 ('72555',),
 ('60092',),
 ('30904',),
 ('68375',),
 ('25332',),
 ('72654',),
 ('26301',),
 ('84306',),
 ('63390',),
 ('11576',),
 ('95493',),
 ('19465',),
 ('14692',),
 ('30442',),
 ('61049',),
 ('21912',),
 ('98430',),
 ('70581',),
 ('06926',),
 ('67131',),
 ('22957',),
 ('41033',),
 ('98266',),
 ('41143',),
 ('21625',),
 ('15665',),
 ('84032',),
 ('17054',),
 ('84067',),
 ('03872',),
 ('33784',),
 ('79943',),
 ('62219',),
 ('20918',),
 ('43345',),
 ('77263',),
 ('49443',),
 ('14059',),
 ('77622',),
 ('71678',),
 ('72125',),
 ('80463',),
 ('45223',),
 ('84646',),
 ('43768',),
 ('43946',),
 ('45326',),
 ('68588',),
 ('92164',),
 ('59803',),
 ('16942',),
 ('74966',),
 ('22656',),
 ('17201',),
 ('50037',),
 ('54980',),
 ('48193',),
 ('01059',),
 ('39476',),
 ('32410',),
 ('64770',),
 ('33595',),
 ('77041',),
 ('73085',),
 ('33766',),
 ('04049',),
 ('45403',),
 ('73042',),
 ('38076',),
 ('31554',),
 ('92255',),
 ('65049',),
 ('92248',),
 ('38131',),
 ('55484',),
 ('32216',),
 ('16620',),
 ('24168',),
 ('54934',),
 ('05101',),
 ('45418',),
 ('17315',),
 ('20855',),
 ('71254',),
 ('76365',),
 ('39439',),
 ('31204',),
 ('85275',),
 ('93920',),
 ('37018',),
 ('17228',),
 ('01331',),
 ('55702',),
 ('33431',),
 ('04116',),
 ('78641',),
 ('56590',),
 ('97218',),
 ('56044',),
 ('78286',),
 ('39366',),
 ('91799',),
 ('27051',),
 ('73073',),
 ('56384',),
 ('55724',),
 ('33890',),
 ('38723',),
 ('04290',),
 ('29226',),
 ('24448',),
 ('77625',),
 ('24225',),
 ('60487',),
 ('93285',),
 ('72374',),
 ('26269',),
 ('43215',),
 ('78736',),
 ('19725',),
 ('76522',),
 ('79256',),
 ('74436',),
 ('30269',),
 ('44074',),
 ('12439',),
 ('24077',),
 ('94002',),
 ('96125',),
 ('36849',),
 ('15488',),
 ('79414',),
 ('73645',),
 ('23883',),
 ('25396',),
 ('95376',),
 ('35469',),
 ('29483',),
 ('97877',),
 ('98168',),
 ('67559',),
 ('46014',),
 ('28236',),
 ('64442',),
 ('72565',),
 ('81243',),
 ('73029',),
 ('03756',),
 ('90296',),
 ('10072',),
 ('92814',),
 ('29423',),
 ('67341',),
 ('01901',),
 ('22222',),
 ('98508',),
 ('77017',)]